// main layout
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(4vw,1fr) minmax(15rem,35rem) minmax(4vw,1fr);
  grid-template-rows: auto 1fr auto;
}

header, footer {
  grid-column: 1/4;
}

main {
  grid-column: 2/3;
  padding: 2rem 0 3rem 0;
}
