// box sizing
*, *:before, *:after {
  box-sizing: border-box;
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;
}

body {
  overflow-y: scroll;
}

body, h1, h2, h3 {
  font-weight: var(--font-weight);
}

strong {
  font-weight: var(--font-bold);
}

img {
  display: block;
  width: 100%;
  height: auto;
}
